* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#index_head {
    width: 100%;
    height: 40px;
    background: #ee0c4b;
}

.index_head {
    width: 740px;
    height: 40px;
    background: #ee0c4b;
    margin: 0 auto;
    position: relative;

}

.index_nav {
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

li {
    list-style: none;
    width: 78px;
}

.index_nav li:hover {
    background-color: #d9043e;
}

#index_head .left {
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 40px;
    margin-left: 56px;
    position: absolute;

}

#product {
    width: 100%;
    height: 210px;
    background: #000;
}

.product_banner {
    width: 716px;
    height: 210px;
    background-color: #000000;
    margin: 0 auto;

}

.product_banner .product_banner_img {
    width: 716px;
    height: 210px;
    margin: 0 auto;
}

/* nav */
#nav_w {
    width: 100%;
    height: 125px;
    margin: 0 auto;

}

.product_tab {
    width: 792px;
    height: 125px;
    margin: 0 auto;
    background: darkblue;

}

.product_tab_li {
    float: left;
    width: 99px;
    height: 125px;
    position: relative;
    background:  #ffffff;
    padding-top: 38px;
}

#nav_w .product_tab .categroy_icon {
    width: 48px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 37px;
    margin-bottom: 20px;
}

#nav_w .product_tab .categroy_name {
    display: block;
    float: left;
    width: 80px;
    font-size: 14px;
    text-align: center;
    margin-left: 20px;
    color: #222222;
}

#categroy {
    width: 100%;
    height: 23px;

    padding-top: 38px;
}

.categroy_title {
    width: 790px;
    height: 23px;
    margin: 0 auto;
    position: relative;
}

.categroy_title .left_line {
    width: 310px;
    height: 1px;
    background-color: #000000;
    float: left;
    line-height: 22px;
}

.categroy_title .title {
    width: 98px;
    text-align: center;
    display: block;
    float: left;
    font-size: 22px;

    position: absolute;
    top: -16px;
    right: 345px;
}

.categroy_title .right_line {
    width: 310px;
    height: 1px;
    background-color: #000000;
    float: right;
}

/* 产品 */
#product_content {
    width: 100%;
    background: #ffffff;
}

.product_content {
    width: 855px;
   
    margin: 0 auto;
    border-bottom: 1px dotted #ccc ;
}

.product_content_div {
    width: 285px;
    height: 267px;
    background:  #ffffff;
    border-bottom: 1px dotted #ccc;
    float: left;
}


.product_content_icon {
    width: 137px;
    height: 137px;
    line-height: 142px;
    margin: 0 auto;
    margin-top: 36px;
    border: 1px solid rgba(100, 100, 100, 0);

}

#aaa:hover .product_content_icon {
    border: 1px solid #050505d5;
}

.product_content_div .product_content_name {
    width: 286px;
    font-size: 14px;
    line-height: 10px;
    color: #666666;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.product_content_div .product_content_type {
    display: block;
    text-align: center;
    width: 290px;
    font-size: 14px;
    color: #666666;
    padding-top: 5px;
}

/* footer */
#index_footer {
    width: 100%;
    height: 121px;
}

.index_footer {
    width: 1400;
    height: 121px;
    margin: 0 auto;
    background-color: #282828;

}

.index_footer .footer_top {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 0.5px solid #999999;
}

.index_footer .footer_top .footer_nav {
    width: 548px;
    height: 40px;
    margin: 0 auto;

}

.index_footer .footer_top .footer_nav .footer_li {
    float: left;
    text-align: center;
    margin-top: 20px;

}

.index_footer .footer_top .footer_nav .footer_li .footer_li_a {
    width: 96px;
    color: #999999;
    margin-top: 8px;

    display: inline-block;

}

.index_footer .footer_top .footer_nav .footer_line {
    width: 1px;
    float: left;
    font-size: 12px;
    line-height: 36px;
    margin: 0 20px;
    margin-top: 20px;
    color: #888888;

}

.footer_bottom {
    width: 100%;

}

.footer_bottom .footer_info {
    width: 600px;
    font-size: 13px;
    margin: 0 auto;
    padding-top: 12px;
    color: #999999;
    margin: 0 auto;
}

.footer_bottom .footer_info .footer_span {
    width: 378px;
}

.footer_bottom .footer_info .beian {
    display: inline;
    float: right;
    color: #999999;
}

#udesk_btn {
    width: 200px;
    background: yellow;
    position: fixed;
    bottom: 0;
   right: 40px;

}


.udesk_btn {
    width:200px;
    height: 40px;
    background: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#udesk_btn .udesk_btn .tu {
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: left;
}
#udesk_btn .udesk_btn p{
    width: 143px;
    height: 40px;
    float: left;
    font-size: 12px;
    color: #ccc;
    line-height: 40px;
}