* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#index_head {
    width: 100%;
    height: 40px;
    background: #ee0c4b;
}

.index_head {
    width: 740px;
    height: 40px;
    background: #ee0c4b;
    margin: 0 auto;
    position: relative;

}

.index_nav {
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

li {
    list-style: none;
    width: 78px;
}

.index_nav li:hover {
    background-color: #d9043e;
}

#index_head .left {
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 40px;
    margin-left: 56px;
    position: absolute;

}

#product {
    width: 100%;
    height: 210px;
    background: #000;
}

.product_banner {
    width: 716px;
    height: 210px;
    background-color: #000000;
    margin: 0 auto;

}

.product_banner .product_banner_img {
    width: 716px;
    height: 210px;
    margin: 0 auto;
}

/* 放大镜 */

#tu1 {
    height: 300px;
    width: 520px;
}

.tu {
    margin: 0 auto;
    padding: 5px;
    width: 858px;
 
    background: #fff;


}

.tutu {
    width: 562px;
    height: 490px;
    padding-top: 40px;
    float: left;
}

#tu2 {
    width: 92px;
    padding-top: 10px;
}

#tu2 img {
  /* border:1px solid #ccc; */
    padding: 2px;
    width: 80px;
    height: 80px;

}

.product_detail {
    width: 586px;
    height: 92px;

}

.product_detail_pre {
    width: 60px;
    height: 90px;
    float: left;
    background: url(../img/left.png)no-repeat;
    background-size: 25px 52px;
    background-position: center;
}

.product_detail_next {
    width: 60px;
    height: 90px;
    float: right;
    background: url(../img/right.png)no-repeat;
    background-size: 25px 52px;
    background-position: center;
}

.product_detail_pre:hover {
    background: url(../img/left_hover.png)no-repeat;
    background-size: 25px 52px;
    background-position: center;
}


.product_detail_next:hover {
    background: url(../img/right_hover.png)no-repeat;
    background-size: 25px 52px;
    background-position: center;
}


.product_info {
    width: 254px;
    height: 336px;
    float: right;
    padding-top: 80px;

}

.product_info_name {
    padding-left: 20px;
    font-size: 28px;
    color: #000;
}

.product_info_model {
    padding-top: 18px;
    margin-left: 20px;
    color: #000;
}

.product_info_price {
    width: 100%;
    font-size: 30px;
    color: #e6003c;
    margin-left: 20px;
    padding-top: 120px;
    padding-bottom: 20px;

}
.gg{
    width: 254px;
 display: flex;
   justify-content: space-between;
}
.product_info_none {
  display: block;
    width: 110px;
    height: 35px;
    background: #5bc0de;
    margin-left: 20px;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border: none;
   
}



/* !!!!! */
#product_desc {
    width: 100%;

}

.product_desc {
    width: 793px;
    margin: 0 auto;
   
}


/* footer */
#index_footer {
    width: 100%;
    height: 121px;
}

.index_footer {
    width: 1400px;
    height: 121px;
    margin: 0 auto;
    background-color: #282828;

}

.index_footer .footer_top {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 0.5px solid #999999;
}

.index_footer .footer_top .footer_nav {
    width: 548px;
    height: 40px;
    margin: 0 auto;

}

.index_footer .footer_top .footer_nav .footer_li {
    float: left;
    text-align: center;
    margin-top: 20px;

}

.index_footer .footer_top .footer_nav .footer_li .footer_li_a {
    width: 96px;
    color: #999999;
    margin-top: 8px;

    display: inline-block;

}

.index_footer .footer_top .footer_nav .footer_line {
    width: 1px;
    float: left;
    font-size: 12px;
    line-height: 36px;
    margin: 0 20px;
    margin-top: 20px;
    color: #888888;

}

.footer_bottom {
    width: 100%;

}

.footer_bottom .footer_info {
    width: 600px;
    font-size: 13px;
    margin: 0 auto;
    padding-top: 12px;
    color: #999999;
    margin: 0 auto;
}

.footer_bottom .footer_info .footer_span {
    width: 378px;
}

.footer_bottom .footer_info .beian {
    display: inline;
    float: right;
    color: #999999;
}

#udesk_btn {
    width: 200px;
    background: yellow;
    position: fixed;
    bottom: 0;
    right: 40px;

}


.udesk_btn {
    width: 200px;
    height: 40px;
    background: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#udesk_btn .udesk_btn .tu1{
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: left;
}

#udesk_btn .udesk_btn p {
    width: 143px;
    height: 40px;
    float: left;
    font-size: 12px;
    color: #ccc;
    line-height: 40px;
}